<div id="<%= dom_id request %>">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>First name</th>
      <th>Second name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= request.first_name %></td>
        <td><%= request.last_name %></td>
        <td><%= request.email %></td>
        <td><%= request.phone %></td>
        <td><%= request.description %></td>
      </tr>
    </tbody>
  </table>
</div>
