<% if current_user.admin? %>
  <p id="notice"><%= notice %></p>

  <h1>Applications</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Description</th>
      <th>Reaction</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @requests.each do |request| %>
        <tr>
          <td><%= link_to request.first_name + ' ' + request.last_name, request %></td>
          <td><%= request.email %></td>
          <td><%= request.phone %></td>
          <td><%= request.description %></td>
          <td><%= request.reaction %></td>
          <td><%= button_to "Add reaction", edit_request_path(request), method: :get,
                            class:"btn btn-outline-warning"%></td>
          <td><%= button_to 'Delete', request, method: :delete, class:"btn btn-outline-danger" %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <br>
  <% unless current_user.admin %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Quick application creation</h5>
        <p class="card-text">If you have forgotten or do not see your applications,
          click on this button and create a new one</p>
        <a href="#" class="card-link"><%= link_to "New application", new_request_path, class:"btn btn-primary" %></a>
      </div>
    </div>
<% end %>
